<html>
    <head>
        <title>Informativo Inteligente</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Inteligente</a></h1>
        </div>
        <div>
            <p>published: 12.04.2022, 02:32</p>
            <h2><a href="">La inversión segura del 2022</a></h2>
            <p>Muchas empresas empezaron apostar a unos de los negocios mas exitoso y rentables de los últimos 4 años. Se trata de los e-commerce o también llamados comercio electrónico, montar una tienda virtual por internet es todo un desafío ya que depende del diseñador que contrates pero un tienda por internet te da beneficios increíbles ya que es una sucursal abierta al publico 24 horas los 7 días de la semana y también aumentas tus clientes</p>
        </div>
        <div>
            <p>published: 05.04.2022, 22:30</p>
            <h2><a href="">Los premios Oscar 2022 a las piñas</a></h2>
            <p>Todo ocurrió el pasado sábado cuando el actor Will Smith dio un cachetazo a Chris Rock por un chiste que Chris hizo sobre el cabello de su mujer.</p>
        </div>
        <div>
            <p>published: 05.04.2022, 22:45</p>
            <h2><a href="">El principal problema del hombre</a></h2>
            <p>Muchas personas se encuentran ansiosas, deprimidas o sin sentido y la respuesta a eso es que sus vida esta fuera del plan de Dios y el resultado es lo anterior mencionado una vida desgraciada.<p>
        <div>
            <p>published: 05.04.2022, 22:22</p>
            <h2><a href="">Síntomas Gripe</a></h2>
            <p>Los síntomas principales son fiebre, dolor de garganta y dolor de cabeza. También decaimiento y estornudos.</p>
        </div> 
    </body>
</html>