<html>
    <head>
        <title>Django Girls Juan Bocek blog</title>
    </head>
    <body>
    <div>
            <h1><a href="/">Informativo Inteligente</a></h1>
    </div>

    <div></div>
    <h4>El primer blog que te informa de noticias para tu bienestar, cuidado y examinación/<h4>
    <div></div>
        
        </div>
            <p>published: 08.04.2022, 06:10</p>
            <h2><a href="">Mi tercer Post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

        </div>
            <p>published: 08.04.2022, 06:10</p>
            <h2><a href="">Mi cuarto Post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        <div></div>
    </body>
</html>