<html>
    <head>
        <title>Django Girls Juan Bocek blog</title>
    </head>
    <body>
    <div>
            <h1><a href="/">Informativo Inteligente</a></h1>
    </div>

    <div></div>
    <h4>El primer blog que te informa de noticias para tu bienestar, cuidado y examinación/<h4>
    <div></div>
        
        </div>
            <p>published: 08.04.2022, 06:10</p>
            <h2><a href="">Síntomas Gripe</a></h2>
            <p>Los síntomas principales son fiebre, dolor de garganta y dolor de cabeza. También decaimiento y estornudos.</p>
        </div>

        </div>
            <p>published: 08.04.2022, 06:10</p>
            <h2><a href="">El principal problema del hombre</a></h2>
            <p>Muchas personas se encuentran ansiosas, deprimidas o sin sentido y la respuesta a eso es que sus vida esta fuera del plan de Dios y el resultado es lo anterior mencionado una desgraciada.
    </body>
</html>